{
  "semi": false,
  "arrowParens": "always",
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "all",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "tailwindConfig": "./tailwind.config.js"
}
