@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-box: 6px; /* border-radius for cards and other big elements */
  --rounded-btn: 6px; /* border-radius for buttons and similar elements */
  --rounded-badge: 6px;
}

.btn {
  @apply normal-case;
}

html,
body {
  @apply bg-amber-50 text-base;
}

.file-input {
  @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 cursor-pointer file:cursor-pointer file:text-sm file:font-semibold file:bg-base-100  file:text-secondary hover:file:opacity-80;
}
