@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-box: 6px; /* border-radius for cards and other big elements */
  --rounded-btn: 6px; /* border-radius for buttons and similar elements */
  --rounded-badge: 6px;
}

.btn {
  @apply normal-case;
}

html,
body {
  @apply bg-amber-50 text-base;
  font-family: 'Nunito', sans-serif;
}

.dialog-content {
  @apply inline-block p-6 my-8  align-middle transition-all transform bg-amber-50 shadow-lg rounded-lg;
  @apply w-[90%] sm:w-auto;
}

.file-input {
  @apply block w-full text-sm text-slate-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 cursor-pointer file:cursor-pointer file:text-sm file:font-semibold file:bg-base-100  file:text-secondary hover:file:opacity-80;
}

.j-alert {
  @apply py-3 self-center;

  &__content {
    @apply flex items-center space-x-2 text-white text-sm font-bold px-4 py-2 rounded-md shadow-md z-50;
  }

  &--enter,
  &--leave {
    transition: all 0.5s ease-in-out;
  }

  &--enter {
    opacity: 0;
    transform: translateY(-30px);
  }

  &--leave {
    opacity: 1;
    transform: translateY(0px);
  }

  &--enter-active {
    opacity: 1;
    transform: translateY(0px);
  }

  &--leave-active {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.j-spinner {
  @apply origin-center align-middle;
  animation: rotate 2s linear infinite;

  &__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: path-dash 1.2s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.m-select {
  &__btn {
    @apply flex-grow border bg-base-100 rounded-btn border-primary;
    @apply border-opacity-100 border-primary py-[5px] px-3 text-left text-sm;

    &:focus {
      outline: 2px solid hsl(var(--p));
      outline-offset: 2px;
    }
  }

  &__options {
    @apply absolute z-30 w-full py-1 mt-10 overflow-auto text-sm bg-gray-100 rounded-md shadow-lg max-h-60 focus:outline-none;
  }
}
