{
  "extends": ["../.eslintrc.js", "plugin:react/recommended", "plugin:react-hooks/recommended"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/display-name": 0,
    "react/jsx-no-undef": [
      0,
      {
        "allowGlobals": true
      }
    ]
  }
}
