@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rsbs-backdrop-bg: #fef3c7;
  --rsbs-bg: #fffbeb;
  --rsbs-handle-bg: #fbbf24;
  --rounded-box: 0.25rem;
  --rounded-btn: 0.125rem;
  --rounded-badge: 0.125rem;
}

html,
body {
  @apply bg-base-100 text-base-content;
  font-family: 'Nunito', sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-xs {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.btn {
  @apply font-semibold normal-case;
}

.input[disabled],
.textarea[disabled] {
  @apply border-base-300;
}

.textarea[disabled] {
  @apply resize-none;
}

.dialog-content {
  @apply mx-4 transform rounded-lg p-6 shadow-lg transition-all;
  @apply relative max-h-[90%] w-full overflow-y-auto sm:w-auto;
}

.file-input {
  @apply block w-full cursor-pointer text-sm text-slate-500 file:mr-4 file:cursor-pointer file:rounded-full file:border-0 file:bg-base-100 file:py-2 file:px-4 file:text-sm file:font-semibold  file:text-secondary hover:file:opacity-80;
}

.j-alert {
  @apply self-center py-3;

  &__content {
    @apply z-50 flex items-center space-x-2 rounded-md px-4 py-2 text-sm font-bold text-base-100 shadow-md;
  }

  &--enter,
  &--leave {
    transition: all 0.5s ease-in-out;
  }

  &--enter {
    opacity: 0;
    transform: translateY(-30px);
  }

  &--leave {
    opacity: 1;
    transform: translateY(0px);
  }

  &--enter-active {
    opacity: 1;
    transform: translateY(0px);
  }

  &--leave-active {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.j-spinner {
  @apply origin-center align-middle;
  animation: rotate 2s linear infinite;

  &__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: path-dash 1.2s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.m-select {
  &__btn {
    @apply rounded-btn flex flex-grow items-center gap-2 bg-base-100;
    @apply relative border-primary border-opacity-100 py-[5px] px-3 text-left text-sm;

    &[disabled] {
      @apply cursor-not-allowed border-base-300 bg-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
    }

    &--focus {
      &:focus {
        outline: 2px solid hsl(var(--p));
        outline-offset: 2px;
      }
    }
  }

  &__options {
    @apply absolute z-30 max-h-60 origin-top-left overflow-auto rounded-md bg-base-100 py-1 text-sm shadow-lg focus:outline-none;
  }
}

// shepherd styles
.shepherd-content {
  @apply flex flex-col gap-4;
}

.shepherd-footer {
  @apply flex items-center justify-between;
}

.shepherd-element {
  transition: opacity 0.3s, visibility 0.3s;
  @apply invisible z-[9999] w-full max-w-[300px] rounded-md bg-base-200;
  @apply p-4 opacity-0 shadow-lg outline-none;
}

.shepherd-arrow,
.shepherd-arrow:before {
  @apply absolute z-[-1] h-4 w-4;
}

.shepherd-modal-overlay-container {
  transition: all 0.3s ease-out, height 0ms 0.3s, opacity 0.3s 0ms;
  @apply pointer-events-none fixed top-0 left-0 z-[9997] h-0 w-screen overflow-hidden opacity-0;
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  transition: all 0.3s ease-out, height 0s 0s, opacity 0.3s 0s;
  @apply h-screen opacity-50;
}

.shepherd-enabled.shepherd-element {
  @apply visible opacity-100;
}

.shepherd-text {
  @apply text-base-content;
}

.shepherd-arrow:before {
  @apply rotate-45 bg-base-200 content-[''];
}

.shepherd-element[data-popper-placement^='bottom'] > .shepherd-arrow {
  @apply top-[-8px];
}

.table :where(thead, tfoot) :where(th, td) {
  @apply normal-case;
}
