@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rsbs-backdrop-bg: #fef3c7;
  --rsbs-bg: #fffbeb;
  --rsbs-handle-bg: #fbbf24;
}

.btn {
  @apply normal-case;
}

html,
body {
  @apply bg-base-100 text-base;
  font-family: 'Nunito', sans-serif;
}

* {
  scroll-behavior: smooth;
}

.dialog-content {
  @apply my-8 inline-block transform  rounded-lg bg-base-200 p-6 align-middle shadow-lg transition-all;
  @apply w-[90%] sm:w-auto;
}

.file-input {
  @apply block w-full cursor-pointer text-sm text-slate-500 file:mr-4 file:cursor-pointer file:rounded-full file:border-0 file:bg-base-100 file:py-2 file:px-4 file:text-sm file:font-semibold  file:text-secondary hover:file:opacity-80;
}

.j-alert {
  @apply self-center py-3;

  &__content {
    @apply z-50 flex items-center space-x-2 rounded-md px-4 py-2 text-sm font-bold text-base-100 shadow-md;
  }

  &--enter,
  &--leave {
    transition: all 0.5s ease-in-out;
  }

  &--enter {
    opacity: 0;
    transform: translateY(-30px);
  }

  &--leave {
    opacity: 1;
    transform: translateY(0px);
  }

  &--enter-active {
    opacity: 1;
    transform: translateY(0px);
  }

  &--leave-active {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.j-spinner {
  @apply origin-center align-middle;
  animation: rotate 2s linear infinite;

  &__path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: path-dash 1.2s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.m-select {
  &__btn {
    @apply rounded-btn flex flex-grow items-center border border-primary bg-base-100;
    @apply relative border-primary border-opacity-100 py-[5px] px-3 text-left text-sm;

    &:focus {
      outline: 2px solid hsl(var(--p));
      outline-offset: 2px;
    }

    &[disabled] {
      @apply cursor-not-allowed border-base-200 bg-base-200 text-opacity-20 placeholder-base-content placeholder-opacity-20;
    }
  }

  &__options {
    @apply absolute z-30 mt-10 max-h-60 w-full overflow-auto rounded-md bg-gray-100 py-1 text-sm shadow-lg focus:outline-none;
  }
}
